.singlePost {
  background-color: white;
  width: 60vw;
  height: auto;
}
.singlePostAvatar {
  width: 100px;
  border-radius: 50%;
  /* padding: 1rem; */
}
.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.post-content {
  cursor: pointer;
  padding: 1rem;
  margin: 0.4rem 0rem;
  font-size: 1.5rem;
  text-align: center;
}

.singlepost-footer {
  border-bottom: 1px solid blueviolet;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
