/* loader */
.loader-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vw;
}
.cursor-pointer-none {
  pointer-events: none ;
}
@import url("./library/var.css");
@import url("./library/Button.css");
@import url("./library/Auth.css");
@import url("./library/input.css");
@import url("./library/utils.css");
@import url("./library/oneComand.css");
